doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css", integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     .container
      .row 
        .col-12.mt-5

            block content
                img.m-5.rounded.mx-auto.d-block(src="/stop.gif" style='width:200px; height:200px;')
                h1.p-3 Temporalmente no disponible
                h3.text-danger.p-2 Actualmente esta web no esta disponible, el horario operativo es de 8:00:00 h a 17:00:00 h.
                p.p-2 Disculpe las molestias