extends ../layout.pug 

block content 
    
    h2.py-4 Autor de la aplicacion
    
    .ficha
        .imagen.d-inline
            img.w-25.p-1.border.border-3.border-dark(src="/Fran.jpg")

            p.py-4 Mi nombre es Francisco Garcia estudiante de MERN en la academia AEPI. Amante de las nuevas tecnologias, mi formacion comienza en la Universidad de Oviedo en el campus de Gijon cursando estudios de ingenieria industrial durante 2 años.
            p.py-4 Por circustancias personales me traslado a Madrid, donde, tras unos años trabajando en diversos oficios, retomo mi formacion en la Universidad Pontificia de Salmanca, en su campus de Madrid, cursando estudios de ingenieria informatica. Aunque profesionalmente no me he dedicado al mundo de la informatica, me estoy formando de nuevo para poder dedicarme a una profesion que  me apasiona.  
